.search-area {
  font-size: 18px;
  display: grid;
  place-items: center start;
  max-width: 500px;
  margin: 120px 0 10px;
  padding: 5px;
  position: sticky;
  top: 10px;
  border-radius: .66em;
  backdrop-filter: blur(5px);
  z-index: 999;
}

@media screen and (min-width: 900px) {
  .search-area {
    margin: 120px 50px 0;
    font-size: 22px;
  }
  h3 {
    margin-inline: 60px;
  }
}

.search-area input {
  font-family: Roboto;
  font-size: inherit;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: .5em;
  padding: .5em 2em .5em .75em;
  margin: 0;
  background: hsla(220, 7%, 17%, .66);
  color: white;
  outline: none;
  transition: all 0.5s ease;
  box-shadow: 0 5px 20px hsla(220, 7%, 20%, .75), 0 5px 10px hsla(220, 7%, 20%, .75);
  grid-row: 1;
  grid-column: 1;
  width: 100%;
}

.search-area input:active,
.search-area input:focus,
.search-area input:hover {
  background: hsla(220, 7%, 17%, .88);
}

.search-area input:active,
.search-area input:focus {
  border: 1px solid var(--primary);
}

.icon-tabler-search {
  grid-row: 1;
  grid-column: 1;
  place-self: center end;
  margin-right: 10px;
  opacity: 0.5;
  transition: all 0.5s ease;
}

.search-area input:active + .icon,
.search-area input:focus + .icon,
.search-area input:hover + .icon {
  opacity: 0.2;
}

h3 {
  font-family: Roboto;
  font-size: inherit;
  font-weight: normal;
  margin-block: 10px;
}

